.buy_now-heading {
  margin: 2rem;
  text-align: center;
}
.product-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .product_quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    button {
      padding: 0.2rem 0.5rem;
      cursor: pointer;
    }
  }
}
.buy-now-grand-total {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  h3 {
    font-size: 2rem;
  }
}
.user-info-heading,
.form-container {
  margin: 2rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .label{
    padding: 2rem;
    font-weight: 600;
  }
  .field {
  display: flex;
  align-items: center;

   
  }
  .input {
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: min(20rem, 15rem);
    border: none;
    &:focus{
      outline: 2px solid rgb(204, 204, 204);
    }
  }
  .error-field{
    outline: 2px solid red;
  }
  .payment-method{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.place-order button:nth-child(1){
  border: none;
  padding: 1rem;
  background-color: green;
  border-radius: 3rem;
  color: #fff;
  font-weight: 600;
  margin: 2rem;
  cursor: pointer;
  &:hover{
    background-color: rgb(0, 70, 0);
  }
}